.nav-link {
    color: #eaecef;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    display: flex;
    cursor: pointer;

    &:hover {
        color: orange;
    }
}

.nav-link i {
    position: absolute;
    top: -2px;
    right: -15px;
    font-size: 13px;
    color: #848E9C;
}

@media (max-width: 1000px) {
    .mobile-link {
        width: 94%;
        font-size: 18px;
    }

    .mobile-link i {
        font-size: 18px;
    }
}

