.popular-cryptos-container {
    height: 100vh;
}

.section-header {
    display: flex;
    justify-content: space-between;
    width: min(1200px, 95%);
    margin: 40px auto;
}

@media (max-width: 768px) {
    .section-header {
        flex-direction: column;
        margin-top: 0;
    }
    
}